<%# This file is not meant to be used on its own. It's meant to be included
in full html pages. %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node & Express Demo</title>
  </head>
  <body>
